In [1]:
from sensitivity_analisys import sa

In [2]:

Si = sa(16384)
df = Si.to_df()

In [3]:
df

[               ST   ST_conf
 beta1    0.000039  0.000001
 beta2    0.000030  0.000002
 beta3    0.192487  0.005933
 gamma    0.483412  0.012250
 mi       0.001388  0.000044
 lambda   0.004486  0.000152
 epsilon  0.001896  0.000060
 alpha    0.246940  0.006234
 delta    0.136485  0.003574,
                S1   S1_conf
 beta1    0.000075  0.000141
 beta2    0.000013  0.000111
 beta3    0.161862  0.009398
 gamma    0.445183  0.014811
 mi       0.000743  0.000842
 lambda   0.003565  0.001380
 epsilon  0.001331  0.000898
 alpha    0.213216  0.009730
 delta    0.109554  0.007739]

In [4]:
st = df[0]

In [5]:
st

               ST   ST_conf
beta1    0.000039  0.000001
beta2    0.000030  0.000002
beta3    0.192487  0.005933
gamma    0.483412  0.012250
mi       0.001388  0.000044
lambda   0.004486  0.000152
epsilon  0.001896  0.000060
alpha    0.246940  0.006234
delta    0.136485  0.003574

In [6]:
st.sort_values(by=["ST"], ascending=False)

               ST   ST_conf
gamma    0.483412  0.012250
alpha    0.246940  0.006234
beta3    0.192487  0.005933
delta    0.136485  0.003574
lambda   0.004486  0.000152
epsilon  0.001896  0.000060
mi       0.001388  0.000044
beta1    0.000039  0.000001
beta2    0.000030  0.000002

Compute the second time to confirm results:

In [7]:

Si = sa(16384)
df = Si.to_df()
st = df[0]
st

               ST   ST_conf
beta1    0.000039  0.000001
beta2    0.000030  0.000003
beta3    0.192686  0.005877
gamma    0.483002  0.012184
mi       0.001385  0.000041
lambda   0.004497  0.000138
epsilon  0.001895  0.000064
alpha    0.246909  0.006532
delta    0.136338  0.003844

In [8]:
st.sort_values(by=["ST"], ascending=False)

               ST   ST_conf
gamma    0.483002  0.012184
alpha    0.246909  0.006532
beta3    0.192686  0.005877
delta    0.136338  0.003844
lambda   0.004497  0.000138
epsilon  0.001895  0.000064
mi       0.001385  0.000041
beta1    0.000039  0.000001
beta2    0.000030  0.000003